<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Error</title>
  <link rel="stylesheet" href="/static/styles/styles.css" />
</head>

<body>
  <div class="error-container">
    <h1>404</h1>
    <h3>Oops! Something went wrong.</h3>
    <p>
      We cannot find the page you requested. If you typed the URL into your
      browser, check that you entered it correctly
    </p>
  </div>
</body>

</html>