<!DOCTYPE html>

<body>
    <app-navigation />

    <main class="container mt-4">

    <div class="row justify-content-between">
      <div class="col-xl-4 col-lg-5 col-md-7">
        <div class="text-center text-md-start">
          <h1 class="fw-bold mb-3">About Us</h1>
          <p>DishQuest was founded on the belief that everyone should have ready access to recipes that you will love to cook - from easy weeknight dinners to holiday showstoppers. Our community of foodies contributes to the collection, providing a variety of recipes and helpful step-by-step instructions that make them fun and simple to cook. Consider joining and adding to our collection.  We can't wait to sample your additions!</p>
        </div>
      </div>

      <div class="col-xl-7 col-lg-6 col-md-5 mb-4">
        <img src="images/aboutIMG.jpg" alt="aboutimage" class="rounded img-fluid mx-auto pb-3" />
      </div>
    </div>
</main>

    <app-footer />
</body>
