<!DOCTYPE html>
<html lang="en">
  <app-navigation />
  <body>
    <section class="d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-11 col-md-8 col-lg-6 text-center px-4">
            <div class="display-5 fw-bold">Under Construction</div>
            <div class="display-6 my-4 text-muted">
              We're currently working on this feature. Please feel free to
              browse our recipes and consider adding to our collection.
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
